{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
        "Components": "./src/components",
        "Styles": "./assets/css"
      }
    }]
  ]
}
